@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

:root{
    --color-l1:#F2F6F5;
    --color-tabs:rgba(242,246,245,0.8);
    --color-l2:#C8DAD3;
    --color-l3:#93B5B3;
    --color-l4:#63707e8c;

    --color-dark:#373A40;
    --color-lessdark:#686D76;


    --font-heading:'Comfortaa', cursive;
    --font-content:'Overpass', sans-serif;

    --dancing-font: 'Zen Loop', cursive;
    --plain-font: 'Source Code Pro', monospace;

    --hand-font:'Zen Loop', cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
}

html { 
    scroll-behavior: smooth;
    background: url('assets/body_bg.jpg') fixed; 
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: 100% ;
    background-blend-mode: multiply;
    height: 100%;
    color: white;
    font-size: 24px;
    

  }


  #header{
      display: flex;
      padding: 2%;
      width: 100%;
      height: 100px;
      background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7402311266303396) 51%, rgba(255,255,255,0) 100%);
  }

  #cat{
      display: flex;
      width: 100%;
      justify-content: center;
  }

  #grid{
      display: grid;
      width: 60%;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(auto, auto);
      gap: 0.8rem;
      grid-template-areas:
      "one one one one one two two two two two two two"
      "three three three three three two two two two two two two"
      "four four four four four four four five five five five five"
      "four four four four four four four five five five five five"
      "seven seven seven six six six six five five five five five"
      "seven seven seven six six six six five five five five five"
      "seven seven seven six six six six five five five five five"
      "eight eight eight eight eight nine nine nine nine nine nine nine"
      "ten ten ten ten ten nine nine nine nine nine nine nine"
      "eleven eleven eleven eleven eleven eleven eleven eleven twelve twelve twelve twelve"
      "eleven eleven eleven eleven eleven eleven eleven eleven twelve twelve twelve twelve";   
  }

  #one{
      grid-area: one;
  }

  #two{
      grid-area: two;
  }

  #three{
      grid-area: three;
  }

  #four{
      grid-area: four;
  }

  #five{
      grid-area: five;
  }

  #six{
      grid-area: six;
  }

  #seven{
      grid-area: seven;
  }

  #eight{
      grid-area: eight;
  }

  #nine{
      grid-area: nine;
  }

  #ten{
      grid-area: ten;
  }

  #eleven{
      grid-area: eleven;
  }

  #twelve {
      grid-area: twelve;
  }

  img {
    display: block;
    max-width:100%;
    min-width:100%;
    max-height:100%;
    min-height:100%;
  }

  





  @media only screen and (max-width: 768px){
    html{
 
        scroll-behavior: smooth;
    background: url('assets/body_bg2.jpg') fixed; 
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size:  cover;
    background-blend-mode: multiply;
    height: 100%;
    /* font-size: 62.5%; */
    }
}


@media only screen and (max-width: 600px){
    html{
     
        scroll-behavior: smooth;
    background: url('assets/body_bg1.jpg') fixed; 
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size:  cover;
    background-blend-mode: multiply;
    height: 100vh;
    font-size: 60%;
    }

}