@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Major+Mono+Display&family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

:root{
    --color-dark:#184D47;
    --color-light:#96BB7C;
    --color-white:#D6EFC7;
    --color-white1:rgba(214, 239, 199,0.5);
    --color-yellow:#EEBB4D;
    --color-yellow1:rgba(238,187,77,0.4);


    --font-name:'Abril Fatface', cursive;

    --font-2:'Cairo', sans-serif;
    --font-1:'Marcellus SC', serif;
    --font-3:'Josefin Slab', serif;

    --font-4:'Ramabhadra', sans-serif;
    --font-5:'Amaranth', sans-serif;

}









@media screen and (max-width:480px) {

    

body{
    position: relative;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: hsla(173, 52%, 20%, 1);
    background: linear-gradient(00deg, hsla(173, 52%, 20%, 1) 0%, hsla(95, 32%, 61%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(173, 52%, 20%, 1) 0%, hsla(95, 32%, 61%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(173, 52%, 20%, 1) 0%, hsla(95, 32%, 61%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#184D47", endColorstr="#96BB7C", GradientType=1 );
    overflow: hidden;
}

#fixed{
    position: absolute;
    display: block;
    width: 50%;
    height: 90%;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( -10px 20px 2px rgba(0, 0, 0, .7));
    /* border-radius: 10vh 0 0 0; */
    /* box-shadow: -10px 20px 30px black; */
    bottom: 0;
    right: 0;
    /* background: hsla(98, 56%, 86%, 1);
    background: linear-gradient(0deg, hsla(98, 56%, 86%, 1) 0%, hsla(95, 32%, 61%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(98, 56%, 86%, 1) 0%, hsla(95, 32%, 61%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(98, 56%, 86%, 1) 0%, hsla(95, 32%, 61%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D6EFC7", endColorstr="#96BB7C", GradientType=1 ); */
    z-index: -1;

}

#logo{
    position: absolute;
    width: 40vw;
    height: 40vw;
    right: 20%;
    top: 40%;
    pointer-events: none;
    background: url('assets/Lifafa2.png') no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: 0.5;
}

#catalog{
    overflow-x: hidden;

}

#container{
    display: block;
    width: 100%;
    
    height: 90vh;
    
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#header{
    display: block;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* transition: all 1s ease; */
    color: white;
    /* flex-wrap: wrap; */
}

.fas{
    font-size: 24px;
}



#header img{
    display: block;
    height: 90%;
    padding: 2%;
    background: white;
    box-sizing: border-box;
    border-radius: 0 5% 5% 0;
    box-shadow: 2px 10px 10px black;
    
}

#scroll{
    width: 100%;
    height: 80%;
    /* border:1px solid white; */
    border-radius: 10px 10px 0 0;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

/* #scroll:hover{
    box-shadow: inset 2px 2px 10px black;

} */

#scroll::-webkit-scrollbar{
    width: 0px;
}



#lmenu{
    background: var(--color-dark);
    /* display: inline-block; */
    height: 100%;
    width: 50%;
    padding: 2%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset -1px -2px 3px white; */

}

#smenu{
    flex-grow: 1;
}

#smenu span{
    width: 15%;
}

#headercall{
    display: inline-block;
    height: 100%;
    width: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   
}





.pages{
    height: 100%;
    width: 100%;
    /* z-index: 100; */
    overflow-x: hidden;
}


#home{
    display: flex;
    flex-direction: column;
    color: white;

}

#name{
    font-family: var(--font-4);
    font-weight: bold;
    font-size: 24px;
    text-shadow: 10px 20px 10px black;
    margin: 1%;
    padding: 2%;
}
    #smenu{
        display: none;
    }

    #name{
        font-size: 36px;
    }

    #company{
        font-size: 24px;
    }

    #aboutbtn{
    margin: 1%;

    }

    #catalog{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        /* overflow-x: hidden; */
        position: relative;
    
    }
    
    #cat *{
        margin: 1%;
        width: 100%;
    }
    
    #cat_container{
        display: block;
        height: 80%;
        width: 100%;
        position: relative;
        /* background:gray; */
        /* border: 2px solid white; */
        display: flex;
        overflow-x: scroll;
    
        
        /* justify-content: space-evenly; */
       
    }
    
    .heading{
        height: 20%;
    }
    
    
    
    
    #catcat{
        position: absolute;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        transition: transform 0.5s ease-in;
        
    }
    
    .picture{
       width: 100vw;
       height: 100%;
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
    }
    
    .picture img{
        display:inline;
        max-width: 50vw;
        max-height: 50%;
        margin: 0;
        box-shadow: 4vh 4vh 4vh black;
        border-radius: 1rem;
        border: 1px solid white;
    
    }
    
    .cs{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    
    #aboutbtn{
        width: 40%;
        color: black;
        background-color: var(--color-yellow1);
        display: flex;
        justify-content: space-around;
        /* border: 1px solid var(--color-yellow); */
        border-radius: 4vh;
        padding: 2%;
        margin: 1%;
        box-shadow: inset -2px -4px 10px orange;
    }
    
    
    
    #company{
        font-family: var(--font-3);
        margin: 1%;
    }
    
    #intro {
        font-family: var(--font-5);
    }
    
    #home{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    #home p {
        width: 80%;
        color: black;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 2vh 2vh;
        padding: 2%;
        margin: 1%;
        box-shadow: inset -2px -4px 10px white;

    }
    #contact{
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    
    #cntcontainer{
        height: 80%;
        width: 200%;
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .cntleft, .cntright{
        display: block;
        max-height: 80%;
        min-width: 50%;
        display: flex;
        flex-grow: 1;
    }
    
    
    .cntleft{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }
    
    #peopleinfo{
        display: block;
        min-width: 100%;
        min-height: 20%;
    }
    
    #card{
    
        display: block;
        height: 50%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #card img{
        display: block;
        width: 60%;
        /* height: 50%; */
    }

    .cntright{
        display: flex;
        flex-direction: column;
        height: 80%;

    }

    #line{
        height: 20%;
    }

    #form{
        display: flex;
        flex-direction: column;
       height: 80%;
       justify-content: center;
       align-items: center;

    }

    #qform{
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 2%;
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, .8);
    }

    .newattr{
        width: 100%;
        height: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        margin: 1%;
        background-color: transparent;
        box-sizing: border-box;
    }

    .newattr span,  #mail-select{
        height: 100%;
        display: inline-block;
        width: 20%;
        border: 0;
        background-color: transparent;
        display: flex;
        align-items: center;

   }

   #mail-select{
       width: 40%;
   }

    .newattr input{
        height: 100%;
        width: 70%;
        transition: all 0.5s ease-in ;
        background-color: transparent;
        border: 0;
    }

    #fmail{
        width: 50%;
    }

    .newattr input:hover{
        background-color: rgba(128, 128, 128,0.5);
        /* color: white; */
    }

    #send{
        padding: 0;
        border-radius: 10px;
        background-color: rgba(0, 128, 0,0.5);
    }








    
}

