@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

:root{
    --font-size3: 48px;
    --font-size4: 40px;
    --font-size5: 36px;
    --font-size6: 24px;
    --font-size7: 20px;
    --font-size8: 16px;
    --font-size2: 56px;
    --font-size1: 60px;

    --font-family1: 'Nanum Myeongjo', serif;
--font-family2: 'Playfair Display', serif;
--font-family3: 'Didact Gothic', sans-serif;

--font-side:'Gowun Batang', serif;

--font-content:'Overpass', sans-serif;

--color-1:#2F5D62;
--color-2:#5E8B7E;
--color-3:#A7C4BC;
--color-4:#DFEEEA;
--color-tabs:rgba(242,246,245,0.8);



}






*{
    margin: 0;
    box-sizing: border-box;
}




body{
    height: fit-content;
    width: 100%;
    padding: 0;
    background: hsla(186, 35%, 28%, 1);
    background: linear-gradient(270deg, hsla(186, 35%, 28%, 1) 0%, hsla(163, 19%, 46%, 1) 30%, hsla(163, 20%, 71%, 1) 66%, hsla(164, 31%, 90%, 0) 100%);
    background: -moz-linear-gradient(270deg, hsla(186, 35%, 28%, 1) 0%, hsla(163, 19%, 46%, 1) 30%, hsla(163, 20%, 71%, 1) 66%, hsla(164, 31%, 90%, 0) 100%);
    background: -webkit-linear-gradient(270deg, hsla(186, 35%, 28%, 1) 0%, hsla(163, 19%, 46%, 1) 30%, hsla(163, 20%, 71%, 1) 66%, hsla(164, 31%, 90%, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2F5D62", endColorstr="#5E8B7E", GradientType=1 );
    background-repeat: no-repeat;
    overflow-x: hidden;
    z-index: -2;
}

#logoimg{
  max-width: 40%;
  min-width: 40%;
  margin: 1%;
  /* opacity: 1; */
 
  /* position: absolute; */
  position: fixed;
  z-index: -1;
  overflow-x: hidden;
  transition: opacity 1s ease;
  
}


.page{
    height: 100vh;
    width: 100%;
    margin: 0;
    /* margin: 1%; */
}

#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--color-4);
}

/* ############HOME#################### */

#AG{
    font-family: var(--font-family1) ;
    font-size: var(--font-size1);
    text-align: center;
    display: block;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end
}

#dcomapny{
    font-size: var(--font-size3);
    font-family: var(--font-family2);
}

#abt{
    font-size: var(--font-size8);
    font-family: var(--font-family3);
    width:50%;
    text-align: center;
}

#home button{
    font-family: var(--font-family3);
    font-size: var(--font-size6);
    background:transparent;
    color: var(--color-4);
    border-radius: 2%;
    border: 1px solid var(--color-4);
    padding: 1%;
    font-size: 80%;
}




#down{
    display: block;
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_items{
    margin: 2%;
}

#catalog{
    color: var(--color-4);
}






@media screen and (max-width:767px){

}

  
@media screen and (max-width:480px) {

  #logoimg{
    max-width: 80%;
    min-width: 80%;
    transform: translate(0,50%);
  }

  #catimg{
      position: absolute;
      display: block;
      width: 150%;
      max-height: 80%;
      opacity: 0.8;
    transform: translate(0,10vh);

      
     
    
    }
  
  #abt{
        width: 80%;
        font-size: 60%;
        
        
    }

    #AG{
        font-size: var(--font-size4);
        display: block;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #home button{
        font-size: 50%;

    }

    #dcompany{
        display: block;
        /* height: 30%; */
    }

    #down{
        font-size: 60%;
        display: block;
        height: 30%;
    }

    .home_items{
        margin: 2%;
    }

    #cat_head{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-side);
        font-size: var(--font-size6);
        margin-left: 1%;
    }

    #catalog{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #cat_cont{
        height: 50%;width: 100%;
        display: flex;
        justify-content: flex-end;
        z-index: 100;
        padding: 1%;
        padding-top:5% ;
    }

    #catinner{
        width: 80%;
        padding: 1%;
        text-align: right;
    }


    #cats{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
        /* justify-content: space-evenly; */
        z-index: 100;


    }

    #catslog{
        width: 90%;
        max-height: 90%;
        flex-grow: 2;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1%;
        border: 3px solid  white;
    }

    .show{
        
        max-height: 100%;
        width: 20%;

        /* object-fit: contain; */
        margin: 0;
        border: 1px solid  white;
        transition: width 1s ease;

    }

    

    
   



    

  }   

@media screen and (max-width:350px){
  
  
  
}

@media screen and (max-width:280px){
 
  
}