@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root{
    --font-size3: 48px;
    --font-size4: 40px;
    --font-size5: 36px;
    --font-size6: 24px;
    --font-size7: 20px;
    --font-size8: 16px;
    --font-size2: 56px;
    --font-size1: 60px;

    --font-family1: 'Nanum Myeongjo', serif;
--font-family2: 'Playfair Display', serif;
--font-family3: 'Didact Gothic', sans-serif;

--font-content:'Overpass', sans-serif;

--color-1:#2F5D62;
--color-2:#5E8B7E;
--color-3:#A7C4BC;
--color-4:#DFEEEA;
--color-tabs:rgba(242,246,245,0.8);



}






*{
    margin: 0;
    box-sizing: border-box;
}




body{
    height: fit-content;
    width: 100%;
    padding: 0;
    background: hsla(186, 35%, 28%, 1);
    background: linear-gradient(270deg, hsla(186, 35%, 28%, 1) 0%, hsla(163, 19%, 46%, 1) 30%, hsla(163, 20%, 71%, 1) 66%, hsla(164, 31%, 90%, 0) 100%);
    background: -moz-linear-gradient(270deg, hsla(186, 35%, 28%, 1) 0%, hsla(163, 19%, 46%, 1) 30%, hsla(163, 20%, 71%, 1) 66%, hsla(164, 31%, 90%, 0) 100%);
    background: -webkit-linear-gradient(270deg, hsla(186, 35%, 28%, 1) 0%, hsla(163, 19%, 46%, 1) 30%, hsla(163, 20%, 71%, 1) 66%, hsla(164, 31%, 90%, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2F5D62", endColorstr="#5E8B7E", GradientType=1 );
    background-repeat: no-repeat;
}

.page{
    height: 100vh;
    margin: 1%;
}

#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--color-4);
}

/* ############HOME#################### */

#AG{
    font-family: var(--font-family1) ;
    font-size: var(--font-size1);
    text-align: center;
    display: block;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end
}

#dcomapny{
    font-size: var(--font-size3);
    font-family: var(--font-family2);
}

#abt{
    font-size: var(--font-size8);
    font-family: var(--font-family3);
    width:50%;
    text-align: center;
}

#home button{
    font-family: var(--font-family3);
    font-size: var(--font-size6);
    background:transparent;
    color: var(--color-4);
    border-radius: 2%;
    border: 1px solid var(--color-4);
    padding: 1%;
    font-size: 80%;
}
#contact_container{
  
  display: grid;
  grid-template-columns: repeat(10,1fr);
  width: 100%;
      grid-template-areas: 
      "middiv middiv middiv middiv form form form form form form"
      "bottom bottom bottom bottom form form form form form form";
      gap: 2%;
}

#container{
  grid-area: form;
}

#middiv{
  grid-area: middiv;

}

#bottom{
  grid-area: bottom;
}



#down{
    display: block;
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_items{
    margin: 2%;
}





/* CONTACT US CONTACT US */

  
@media screen and (max-width:480px) {
    #abt{
        width: 80%;
        font-size: 60%;
        
        
    }

    #AG{
        font-size: var(--font-size4);
        display: block;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #home button{
        font-size: 50%;

    }

    #dcompany{
        display: block;
        /* height: 30%; */
    }

    #down{
        font-size: 60%;
        display: block;
        height: 30%;
    }

    .home_items{
        margin: 2%;
    }

    #contact{
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      /* justify-content: space-between; */
    }

    #contact h1{
      color: var(--color-4);
      font-family: var(--font-family1);
    }

    #contact p{
      width: 90%;
      margin: 1%;
      margin-left: auto;
      margin-right: auto;
      color: var(--color-4);
      font-family: var(--font-family2);
      font-size: 12px;
    }

    #cat_head{
      flex-grow: 1;
    }

    #cntimg{
      display: block;
      width: 100%;
      max-height: 20%;
      flex-grow: 1;

      display: flex;
      justify-content: center;
    }

    #cntimg img{
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    #contact_container{
      display: block;
      width: 100%;
      flex-grow: 3;

      grid-template-columns: repeat(1,1fr);
      grid-template-areas: "middiv"
      "form"
      "bottom";

      /* gap: 2%; */
      color: var(--color-4);
      
    }

   
    #container{
      grid-area: form;
      padding: 0;
      width: 90%;
      display: block;
      height: 50%;
      /* margin: 2%; */
      margin-left: auto;
      margin-right: auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--color-tabs);
      border-radius: 5px;
      color: var(--color-1);
      font-size: 12px;

    }

    #form{
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* padding: 1%; */
      /* border: 1px solid white; */
      border-radius: 5px;
      font-size: 12px;

      
    }
    #form *{
      margin-top: 1%;
    }

    #qform{
      width: 100%;
    }

    .newattr{
      width: 100%;
      display: flex;
      border-top: 1px solid white;
      border-radius: 5px;
      font-size: 12px;

      
      
    }

    .newattr1{
      display: flex;
      justify-content: center;
      /* border-top: 1px solid white;
      border-radius: 5px; */

      
    }

    .fspan{
      flex-grow: 1;
    }

    .finput{
      flex-grow: 4;
      background: transparent;
      border: 0;
      color: var(--color-4);
    }

   .finput::placeholder{
      color: var(--color-3);
      font-size: 12px;


    }
    
    #middiv{
      grid-area: middiv;
      display: block;
      max-height: 20%;

      display: flex;
      padding: 1%;
      padding-top: 0;
      padding-bottom: 0;
      border: 1px solid white;
      border-radius: 5px;
      margin: 1%;
      margin-left: auto;
      margin-right: auto;
      width: 90%;

      flex-direction: row;
      font-size: 12px;
      justify-content: space-around;

    }

    .cps{
      /* display: inline-block; */
      max-width: 45%;
    }

    #cp2{text-align: right;}

    #bottom{
      width: 80%;
      height: 30%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1%;
      grid-area: bottom;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
    }

    
    
    #social{
      height: 40%;
      display: flex;
      justify-content: center;;
      width: 60%;
      margin-top: 2%;
      
    }
    
    #social_card{
      height: 100%;
      width: 50%;
      border-left: 1px solid white;
      border-radius: 10px 0 0 10px;
      display: flex;
      
      align-items: center;
      justify-content: center;
      
    }
    
    .vc{
      width: 60%;
      display: flex;
      flex-direction: column;
    }
    
    #socialsocial{
      max-width: 50%;
      min-width: 50%;
      background: var(--color-tabs);
      border: 1px white;
      border-radius: 10px;
      display: grid;
      grid-template-areas: "one two"
      "three four";
      color: black;
      font-size: var(--font-size0);
    }
    
    #one{
      grid-area: one;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #two{
      grid-area: two;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #three{
      grid-area: three;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #four{
      grid-area: four;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

@media screen and (max-width:350px){
  #middiv{
    font-size: 10px;
  }

  #contact p{
    font-size: 12px;
  }

  #contact h1{
    font-size: 20px;
  }
}

@media screen and (max-width:280px){
  #middiv{
    font-size: 8px;
  }

  #contact p{
    font-size: 10px;
  }

  #contact h1{
    font-size: 16px;
  }
}