@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


:root{
    --font-size3: 48px;
    --font-size4: 40px;
    --font-size5: 36px;
    --font-size6: 24px;
    --font-size7: 20px;
    --font-size8: 16px;
    --font-size2: 56px;
    --font-size1: 60px;

    --font-family1: 'Nanum Myeongjo', serif;
--font-family2: 'Playfair Display', serif;
--font-family3: 'Didact Gothic', sans-serif;

--font-side:'Gowun Batang', serif;

--font-sexy: 'Fredericka the Great', cursive;
--font-sexy1: 'Major Mono Display', monospace;
--font-content:'Overpass', sans-serif;

--color-1:#2F5D62;
--color-tabs2:rgba(94, 139, 126,0.8);
--color-3:#A7C4BC;
--color-4:#DFEEEA;
--color-tabs:rgba(242,246,245,0.8);
--color-tabs3:rgba(1,1,1,0.4);


--new-colorb: #05386B;
--new-colorg: #379683;
--new-colorgl: #5cdb95;
--new-colorgll: #8ee4af;
--new-colorw: #edf5e1;



}






*{
    margin: 0;
    box-sizing: border-box;
}




body{
    background-size: cover;

    display: block;
    max-height: 100vh;
    background: url('assets/bodyback.jpg') fixed;
    background-size: cover;
    width: 100%;
    padding: 0;
    overflow-y: scroll;
    
}

#logoimg{
  max-width: 40%;
  min-width: 40%;
  margin: 1%;
  /* opacity: 1; */
 
  /* position: absolute; */
  position: fixed;
  z-index: -1;
  overflow-x: hidden;
  transition: opacity 1s ease;
  
}


.page{
    
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    /* margin: 1%; */
}

#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--color-4);
}

/* ############HOME#################### */

#AG{
    font-family: var(--font-family1) ;
    font-size: var(--font-size1);
    text-align: center;
    display: block;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end
}

#dcomapny{
    font-size: var(--font-size3);
    font-family: var(--font-family2);
}

#abt{
    font-size: var(--font-size8);
    font-family: var(--font-family3);
    width:50%;
    text-align: center;
}

#home button{
    font-family: var(--font-family3);
    font-size: var(--font-size6);
    background:transparent;
    color: var(--color-4);
    border-radius: 2%;
    border: 1px solid var(--color-4);
    padding: 1%;
    font-size: 80%;
}




#down{
    display: block;
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_items{
    margin: 2%;
}

#catalog{
    color: var(--color-4);
}






@media screen and (max-width:767px){

}

  
@media screen and (max-width:480px) {
body{
    background: url('assets/bodyback1.jpg') fixed;
    background-size:  100vw 100vh;


}

  #logoimg{
    max-width: 80%;
    min-width: 80%;
    transform: translate(0,50%);
  }

  #catimg{
      position: absolute;
      display: block;
      width: 150%;
      max-height: 80%;
      opacity: 0.8;
      overflow-x: hidden;
    transform: translate(0,10vh);

      
     
    
    }
  
  #abt{
        width: 80%;
        font-size: 60%;
        
        
    }

    #AG{
        font-size: var(--font-size4);
        display: block;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #home button{
        font-size: 50%;

    }

    #dcompany{
        display: block;
        /* height: 30%; */
    }

    #down{
        font-size: 60%;
        display: block;
        height: 30%;
    }

    .home_items{
        margin: 2%;
    }

    .cat_head{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--font-side);
        font-size: var(--font-size6);
        margin-left: 1%;
        left: 1%;
        top: 1%;
    }

    #catalog{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #cat_cont{
        height: 50%;width: 100%;
        display: flex;
        justify-content: flex-end;
        z-index: 100;
        padding: 1%;
        padding-top:5% ;
    }

    #catinner{
        width: 80%;
        padding: 1%;
        text-align: right;
    }


    #cats{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;


    }

    #catslog{
        width: 90%;
        max-height: 90%;
        flex-grow: 2;
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1%;
        background-color: var(--color-tabs3);
        border: 3px solid  black;
        border-radius: 5px;
    }

    .show{
        max-height: 100%;
        width: 20%;
        object-fit: none;
        margin: 0;
        border: 1px solid  black;
        transition: width 1s ease-out;
        border-radius: 2%;
    }

    #tocatbtn{
        display: flex;
        flex-direction: column ;
        align-items: center;
    }

    #footer{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

    }

    #at{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        position: absolute;
        bottom: 2%;
        font-size: 12px;
        justify-content: center;
        
    }

    #social{
        font-size: 36px;
        height: 50%;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

    #social i {
        width: 25vw;
        height: 25vh;
        padding: 5%;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
    }

    .b{
        background-color: var(--color-tabs3);
        color: white;
    }

    .a{
        background-color: var(--color-tabs);
        color: black;
    }


    /* TEST TEST */

    

#fixed{
    width: 100%;
    
    display: block;
    height: 20%;
    font-family: var(--font-sexy1);
    font-smooth: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 400%;
    color: var(--new-colorb);
    text-shadow: 0px 15px 10px var(--new-colorw);
    /* background-color: gray; */
}

.up{
    height: fit-content;
    margin: 0;
}

#cat1{
    display: block;
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    
    /* background-color: orange */
}



#app{
    height: 80vw;
    width: 80vw;
    /* padding: 2%; */
    overflow: auto;
    position: relative;
    /* background-color: white; */
    /* border: solid 1.5em rgba(#000, .2); */
    border: 1px solid white;
    border-radius: 10px;
}

#img_container{
    position: relative;
    width: 400%;
    height: 300%;
    overflow: scroll;
    scroll-behavior: smooth;
    transform: rotate();
    padding: 0;
    transform-origin: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: none;
    
}

.photo{
    background-color: transparent;
    display: block;
    margin: auto;
    width: 60%;
    height: 80%;

    padding: 1%;
    
    
    color: var(--new-colorw);
}



.img{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    border: 2px solid var(--new-colorw);
    margin: 2%;
    background-color: var(--color-tabs);
    padding: 5%;




}

.imgimg{
    display: block;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: auto;
    
}
.imgimg1{
    display: block;
    max-width: 120%;
    min-width: 120%;
    max-height: 120%;
    min-height: 120%;
    margin: auto;
}

.name{
    text-align: center;
    color: var(--new-colorw);
    height: 20%;
    width: 100%;
    border: 2px solid var(--new-colorw);
    margin: 2%;

   
}

#catback{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    z-index: -1;
    opacity: 1;
    border-radius: 10px;


}








    
    

    
   



    

  }   

@media screen and (max-width:350px){
  
  
  
}

@media screen and (max-width:280px){
 
  
}