:root{
    --light-color:#FFFFFF;
    --white-color:#FFFFFF;
    --blue-color:#284B63;
    --green-color:#001d17;
    --dark-color:#353535;
    --color-gold:#FFFFFF;

    --size-vlarge: 2.5rem;
     --size-large: 2rem;
     --size-bnormal: 1.5rem;
     --size-nnormal: 1.2rem;
     --size-normal: 1rem;
     --size-snormal: 0.8rem;
     --size-small: 0.5rem;
     --size-vsmall: 0.2rem;
}

html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    /* transition: all 1s ease; */
}
body{
    margin: 0;
    padding: 0;
}


#container{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--green-color);
    z-index: -2;

}


.mtabs{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    z-index: 2;
}

.mtabs span{
    opacity: 1;
}

#home{
    opacity: 1;
}

.mtabs:hover{
    opacity: 1;
}



.screen{
    
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    background-size: 100%;
    /* -webkit-transition: all 0.5s ease-in-out; */
    
}

.height{
    height: 0px;
    overflow: hidden;
    /* -webkit-transition: all 0.5s ease-in-out; */

}

.transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
  }



.rot {
    transform: rotateZ(180deg);
}




.headers{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-radius: 0 0 1rem 0rem;
    align-items: center;
    background-color: var(--light-color);
    transition: all 1s ease;
    color: var(--dark-color);
    padding: 1rem;

}

.headers:hover{
    background: var(--green-color);
    color: var(--color-gold);
    box-shadow: -0.2rem 0.8rem 2rem black;
}

#home_header{
    background-color: var(--green-color);
    color: var(--color-gold);
}

#link_container{
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid var(--color-gold);
    padding: 1rem;
    border-radius: 1rem;
    

    

}

#ag, .btns{
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: var(--size-vlarge);
    
}

.links{
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.links{
    transition: font-size 1s ease;
}
.links:hover {
    font-size: var(--size-large);
    

}

.logocontainer{
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    z-index: 0;
    opacity:0.3;
}

.tcontainer {
    width: 100%;
    
    overflow: hidden;
     /* Hide scroll bar */
  }
   
  /* MIDDLE CONTAINER */
  .ticker-wrap {
    width: 100%;
    
    padding-left: 100%; /* Push contents to right side of screen */
    background: var(--color-dark);

  }
  
  /* INNER CONTAINER */
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 12s;
  }
  .ticker-move:hover{
    animation-play-state: paused; /* Pause scroll on mouse hover */
  }
  
  /* ITEMS */
  .ticker-item{
    display: inline-block; /* Lay items in a horizontal line */
    padding: 0 2rem;
    
    color: var(--color-light);
    font-size: var(--font-f);
    
  }

  .banner_img1{
      padding: 1rem;
      border: 2px solid var(--dark-color);
      background: white;
      width: 90vw;
      height: 30vw;
  }


  #dcompany {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dcompany p {
    font-size: var(--size-bnormal);
    width: 80%;
    text-align: center;
    line-height: 1.5;
    
}

#dcompany h2{
    font-size: var(--size-large);
    padding: 1rem;
}

#dcompany hr{
    width: 30%;
    margin-bottom: 1rem;
    
}

.tabs{
    width: 80%;
    background: transparent;
    color: white;

    margin: 1rem 0 1rem 0;
    border-radius:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s ease;
    
}

.tabs:hover{
    background: var(--green-color);
    color: var(--light-color);
    box-shadow: -0.2rem 0.8rem 2rem black;
    

}

#mach{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: all 1s ease;
}

.machs{
    width: 30vh;
    min-height: 30vh;
    height: fit-content;
    padding: 1rem;
    background-size: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 1s ease;
    border-radius: 1rem;
    border:0.2rem solid black;
    
}

.machs img{
    z-index: 100;
    width: 100%;
    height: 100%;
}

.machs p{
    font-size: 0;
    transition: all 0.5s ease;

}


.machs:hover p{
    font-size: var(--size-normal);
    
}

.machs:hover{
    background:var(--green-color);
    transition: background 1s ease;
}
.machs1{
    background-image: url('assets/img1.jpg');
    
}
.machs2{
    background-image: url('assets/img2.jpg');
    
}
.machs3{
    background-image: url('assets/img3.jpg');
    
}


.ql {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 2%;
    background: transparent;
    
    transition: flex 1s ease 0s;
    padding-bottom: 3rem ;
   
}

.qql, .product, .co {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    flex-wrap: wrap;
    
}

.qhead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.qsubhead {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.items {
    margin-top: 0.5rem;
    font-size: var(--normal-font-size);
    font-family: var(--font-links);
}
#end_header{
    border-radius: 0 0 2rem 2rem;

}
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-around;
    /* background: red; */
    font-size: 3rem;
}

#social {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

}

.arr{
    font-size: 1rem;
}


#footer hr{
    width: 30%;
    margin-bottom: 1rem;
}

.oppa{
    opacity: 100;
}






/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */
/* CONTACT US CONTACT US CONTACT US COTNACT US */


#lr_container{
    display: flex;width: 100%;
    height: 400px;
    flex-direction: row;

}
#left,#right{
    margin: 0;
    
}

#left   {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #fdffda;
    border-radius: 1rem 0 0 1rem;


}

#right{
    width: 100%;
}

#qform {
    width: 60%;
}

.subhead {
    padding-left: 2rem;
}


#fquery {
    height: 10rem;
}


.container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.card_display{
    width: 50%;
    height: 30%;
    
}
.card_display:hover{
    box-shadow: 1px black;
}

.container1 {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.newattr{
    display: flex;
    justify-content: center;
    width: 100%;
    padding:0rem;
    color: var(--in-bg);
    
    border: 1px solid var(--deep-color);
    border-radius: 0.2rem;
    margin: 1rem auto 1rem auto;
    background: var(--in-bg);
}

.newattr input{
    flex-grow: 3;
    border:0;
    margin: 0;
    padding:0.5rem 0 0.5rem 0;
    padding-left: 0.1rem;
    background: white;
    
}

.newattr span{
    background: var(--main-color);
    border-left: 1px solid var(--bt-deep);
    padding: 0;
    padding:0.5rem 0.5rem 0.5rem 0.2rem;
    transition: all 1s ease;
    cursor: pointer;
    user-select: none;
    
    

}

.newattr span:active{
    background: var(--in-bg);
    color: var(--bt-deep);
}
#mail-select{
    background: var(--main-color);
    border-left: 1px solid var(--bt-deep);
    padding: 0;
    padding:0.5rem 0.5rem 0.5rem 0.2rem;
    transition: all 1s ease;
    color: var(--in-bg);
    
}

#mail-select:active{
    background: var(--in-bg);
    color: var(--deep-color);
}


.banner2{
    display: flex;
    background: var(--green-color);
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 1px 2px 3px var(--deep-color)
}

.cntbanner {
    padding-top: 8vh;
    width: 50%;
    height: 7%;
}

.subhead {
    padding-left: 2rem;
}


.cp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cps{
    width: 30%;
    height: 30%;
    margin: 0;
    margin-top: 1.5rem;
    padding:1rem;
    border: 1px solid var(--contrast-color);
    border-radius: 2rem;
    background: var(--main-color);
    line-height: 2;
    max-width: 300px;
    transition: all 1s ease;
    cursor: pointer;
    user-select: none;
}

.cps:active{
    background: var(--in-bg);
    color: var(--deep-color);
}
#qsec {
    text-align: center;
    margin: 1rem auto 1rem auto;
}

.tabs2{
    background: var(--green-color);
}

@media screen and (max-width:767px){
    #link_container{
        display: none;
    }
    
    
    .banner_img1{
        padding: 1rem;
        border: 2px solid var(--dark-color);
        width: 90vw;
        height: 45vw;
    }


    #mach{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: all 1s ease;
    
    
    }
    
    .machs{
        width: 40vh;
        height: fit-content;
        padding: 0.5rem;
        margin: 0.5rem;
        background-size: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: all 1s ease;
        border-radius: 1rem;
        border:0.2rem solid black;
    
        
    }
    #dcompany p{
        font-size: var(--size-normal);
    }

    .ql{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: space-evenly;
        padding: 1rem;

        
    }
    .qhead {
        font-size: 0.7rem;
        /* margin-bottom: 1rem;
        margin-top: 1rem; */
        
    }
    
    .qsubhead {
        font-size: 0.7rem;
        /* margin-bottom: 1rem;
        margin-top: 1rem; */
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    .items {
        /* margin-top: 0.5rem; */
        font-size: 0.7rem;
        font-family: var(--font-links);
    }

}

@media screen and (max-width:481px){
    #link_container{
        display: none;
    }

    .banner_img1{
        padding: 1rem;
        border: 2px solid var(--dark-color);
        width: 90vw;
        height: 45vw;
    }

    .logocontainer img{
        width: 90vw;
        height: 45vw;
    }

    #mach{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        transition: all 1s ease;
    
    
    }
    
    .machs{
        width: 40vh;
        height: fit-content;
        padding: 0.5rem;
        margin: 0.5rem;
        background-size: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: all 1s ease;
        border-radius: 1rem;
        border:0.2rem solid black;
    
        
    }
    #dcompany p{
        font-size: var(--size-normal);
    }

    .ql{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: space-evenly;
        padding: 1rem;

        
    }
    .qhead {
        font-size: 0.7rem;
        /* margin-bottom: 1rem;
        margin-top: 1rem; */
        
    }
    
    .qsubhead {
        font-size: 0.7rem;
        /* margin-bottom: 1rem;
        margin-top: 1rem; */
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    .items {
        /* margin-top: 0.5rem; */
        font-size: 0.7rem;
        font-family: var(--font-links);
    }

}
